<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.default_schema">CONREC</property>
		<property name="show_sql">false</property>
		
		<mapping class="pe.com.bbva.reniec.dominio.Consultante" />
		<mapping class="pe.com.bbva.reniec.dominio.Lista" />
		<mapping class="pe.com.bbva.reniec.dominio.Membresia" />
		<mapping class="pe.com.bbva.reniec.dominio.Opcion" />
		<mapping class="pe.com.bbva.reniec.dominio.Parametro" />
		<mapping class="pe.com.bbva.reniec.dominio.Permiso" />
		<mapping class="pe.com.bbva.reniec.dominio.Rol" />
		<mapping class="pe.com.bbva.reniec.dominio.Secuencia" />
		<mapping class="pe.com.bbva.reniec.dominio.Usuario" />
		<mapping class="pe.com.bbva.reniec.dominio.Valor" />
		
		<!-- QUARTZ -->
		<mapping class="pe.com.bbva.reniec.dominio.quartz.QrtzJobDetails" />
		<mapping class="pe.com.bbva.reniec.dominio.quartz.QrtzTriggers" />
		<mapping class="pe.com.bbva.reniec.dominio.quartz.QrtzCronTriggers" />

	</session-factory>
</hibernate-configuration>